<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename ='index.css')}}">
    <title>Corona Alert</title>
</head>
<body>
    <div class="container">
        <div class="intro">
            <h1>Get Corona Updates on Your <span style="color: #48f348;">WhatsApp</span> &#128172;</h1>

        </div>
        <div class="input">
            <form action="/countries" method="POST" onsubmit="return validatePhone();">
                <input type="tel" max="10" name="phone" placeholder="Enter no. with country code Ex: +918899778899">
                <input type="submit">
            </form>
        </div>
    </div>
</body>
<script>
    function validatePhone()
    {
        isValid = true;
        phone = document.querySelector('input[name="phone"]').value;
        if(phone[0] != '+' || phone.length > 15 || isNaN(phone.substring(1, phone.length)))
        {
 
            document.querySelector('input[name="phone"]').value = ""
            document.querySelector('input[name="phone"]').placeholder = "Use this Format: +918899778899"
            isValid = false;
        }
        return isValid;
    }
</script>
</html>