<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename ='index.css')}}">
    <title>Corona Alert</title>
</head>
<body>
    <div class="container">
        <div class="intro">
            <h1>Get Corona Updates on Your <span style="color: #48f348;">WhatsApp</span> &#128172;</h1>

        </div>
        <div class="input">
            <form action="">
                <input type="tel" max="10" placeholder="Enter no. with country code Ex: +918899778899">
                <input type="submit">
            </form>
        </div>
    </div>
</body>
</html>