<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5; url=https://github.com/NishantTheProgrammer"> -->
    <title>Registered</title>
    <style>
        body
        {
            background-color: black;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h1
        {
            text-align: center;
            color: white;
        }
        @media screen and (max-width: 500px) {
            h1
            {
                font-size: 15px;
            }
        }
    </style>
</head>
<body>
    <h1>Thank You for Registering with us.<br>Follow Me On GitHub</h1>
</body>
</html>